.wrapper {
  margin: 40px auto;
  max-width: 1400px;
  padding: 20px;
  color: white;
  background-image: url('https://hermants.files.wordpress.com/2011/07/nirvana-logo.jpg');
}

h1 > a {
  color: #FFFFFF;
}

header {
  padding: 35px 0 0;
  border-bottom: solid;
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/61Uf%2BRyR4NL._SX425_.jpg');
}

footer {
  border-top: solid;
  clear: both;
  color:white;
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/61Uf%2BRyR4NL._SX425_.jpg');
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
  color: yellow;
  background: black;
  font-style: normal;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
