<form>
	<input type="text" name="text" class="search" placeholder="Search Here">
	<input type="submit" name="submit" class="submit" value="Search">
</form>

<form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <input type="submit" name="submit" class="submit" value="Search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>